.footer {
    background-color: rgba(108, 192, 182, 0.5);
    padding: 1.5rem 1rem 1rem;
    text-align: center;
    line-height: 1.2rem;
    font-size: 0.75rem;
    color: #677f7d;

    & a {
        color: #454b4a;

          &:hover {
            color: #fff;
            border-bottom: 2px solid #28af9f;
        }
    }
}