.footer {
    background: linear-gradient(to right, $color-blue-green-transparent 100%);
    padding: 1.5rem 1rem 1rem;
    text-align: center;
    line-height: 1.2rem;
    font-size: 0.75rem;
    color: #677f7d;

    & a {
        color: #454b4a;

          &:hover {
            color: #fff;
            border-bottom: 2px solid $color-blue-green-2;
        }
    }

    &__text {
        white-space: pre-line;
    }

    & span {
        font-family: Simpsons;
        font-size: 2rem;
        line-height: 3rem;
        display: block;
    }
}