.footer {
    background: linear-gradient(to right, $colorBlueGreenTransparent1 100%);
    padding: 1.5rem 1rem 1rem;
    text-align: center;
    line-height: 1.2rem;
    font-size: 0.75rem;
    color: #677f7d;

    & a {
        color: #454b4a;

          &:hover {
            color: $colorWhite;
            border-bottom: 2px solid $colorBlueGreen2;
        }
    }

    //have Simpsons logo appear in the footer
    & .simpsonsLogo {
        font-family: "Simpsons";
        font-size: 2rem;
        line-height: 3rem;
        display: block;
    }
}