header {
    background-color: #ABDDD7;
    background-image: url("../assets/images/stripes-light.png");
    background-blend-mode: multiply;

    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    // & .noSwirlInFwd {
    //     @include noAnimation;
    // }

    & .container {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    // & .test {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: flex-start;
    //     justify-content: flex-end;
    // }
    
    & .circle {
        margin: 5rem auto 2rem;
        height: 480px;
        width: 480px;
        border-radius: 100%;
        border: 2px solid transparent;   
        background: #ffffff73;
        @include center;
        position: relative;
        bottom: 4rem;
        left: -5rem;

        &:after {
            content: "";
            background: none;
            border: 3px dashed #ffffffe6;   
            height: 515px;
            width: 515px;
            border-radius: 100%;
            position: absolute;
            z-index: -1;
            top: -1.1rem;
        }
    }

    & .milly1 {
        height: 30.5rem;
        width: auto;
    }

    & .startIcon {
        font-size: 3rem;
        color: #ffffff73;
        position: relative;
        bottom: 0.5rem;
    }
}