header {
    background-color: $colorBlueGreen1;
    background-image: url("../assets/images/stripesLight.png");
    background-blend-mode: multiply;

    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    & .headerContainer {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    
    & .circle {
        height: 480px;
        width: 480px;
        margin: 5rem auto 2rem;
        bottom: 4rem;
        left: -4.75rem; 
        @include circleInner;
        @include center;

        &:after {
            height: 515px;
            width: 515px;
            @include circleOuter;
        }
    }

    & .milhouseHeader {
        height: 30.5rem;
        width: auto;
    }

    & .startIcon {
        font-size: 3rem;
        color: $colorWhiteTransparent2;
        position: relative;
        bottom: 0.5rem;

    }

    & a[href="#start"]:hover {
        border-bottom: none;
    }
}