// TABLET BREAKPOINTS

@media (max-width: 1110px) {
    header {
        & .milhouseHeader {
            position: relative;
            left: 1rem;
        }

        & .circle {
            left: -3.8rem;
        }
    }
}

@media (max-width: 1070px) {
    header {
        h1 {
            font-size: 4.35rem;
            line-height: 73px;
            margin: 1rem 0;
        }

        & .milhouseHeader {
            height: 28rem;
        }

        & .circle {
            height: 430px;
            width: 430px;
            left: -3.5rem;

            &:after {
                height: 465px;
                width: 465px;
            }
        }
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 2.3rem;
        margin: 3.5rem 0 2rem 0;
    }

    .button {
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-row-gap: 11rem;
        grid-column-gap: 15px;

        & .buttonItem {

            &:hover .buttonSideFront {
                transform: none;
            }

            &:hover .buttonSideBack {
                transform: none;
            }
        }

        & .buttonSide {
            position: static;

            &Back {
                display: none;
            }

            & img {
                height: 140px;
            }
        }

        & .buttonResponsive {
            display: block;
             @include center;
        }

        & .buttonResponsiveText {
            text-align: center;
            color: $colorBlueGreen3;
            font-size: 0.9rem;
            text-shadow: 1px 1px 0 $colorWhite;          
        }

        & i {
            top: 6.7rem;
            cursor: pointer;
        }

        & .icon1,
          .icon2,
          .icon3,
          .icon4,
          .icon5,
          .icon6,
          .icon7,
          .icon8,
          .icon9,
          .icon10,
          .icon11,
          .icon12,
          .icon13,
          .icon14,
          .icon15,
          .icon16 {
            color: $colorBlueGreen1;
            font-size: 1rem;
        }
    }

    // speech bubble code from https://www.html-code-generator.com/css/speech-bubble-generator.php
    .bubble {
        position: relative;
        background: $colorWhiteTransparent1;
        width: 150px;
        height: 160px;
        border-radius: 15px;
        padding: 0 0.6rem;
        margin-top: 1rem;

        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            z-index: 1;
            border-style: solid;
            border-width: 20px 0 0 20px;
            border-color: transparent transparent transparent $colorWhiteTransparent1;
            top: -20px;
            left: 70%;
            margin-left: -10px;
        }
    }

    .footer {
        margin-top: 12rem;
    }
}

@media (max-width: 943px) {
    header {
        & h1 {
            font-size: 3.8rem;
            line-height: 68px;
        }

        & .headerContainer {
            left: 0;
        }

        & .milhouseHeader {
            height: 24rem;
            position: relative;
            left: 1rem;
        }

        & .circle {
            height: 380px;
            width: 380px;
            left: -2.9rem;
            bottom: 2.3rem;

            &:after {
                height: 410px;
                width: 410px;
            }
        }
    }
}

@media (max-width: 850px) {
    header {
        & h1 {
            font-size: 3.5rem;
            line-height: 63px;
        }

        & .milhouseHeader {
            height: 23rem;
        }

        & .circle {
            height: 350px;
            width: 350px;
            left: -2.7rem;
            bottom: 2rem;

            &:after {
                height: 375px;
                width: 375px;
                top: -0.9rem;
            }
        }
    }
}

@media (max-width: 780px) {
    .button {
        grid-template-columns: repeat(3, 150px);

        & .buttonSide {
            & img {
                height: 150px;
            }
        }
    }
}

@media (max-width: 770px) {
      header {
        & h1 {
            font-size: 3rem;
            line-height: 60px;
            transform: none;
            padding: 0 2rem;
        }

        & .wrapper {
            width: 100%;
        }

        & .headerContainer {
            left: 0;
            flex-direction: column;
            align-items: center;
        }

         & .milhouseHeader {
            height: 22rem;
            margin: 0 auto;
        }

        & .headerHeadingIconContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & .slideInLeft {
            @include noAnimation;
        }

        & .swirlInFwd {
            @include noAnimation;
        }

        & .circle {
            height: 180px;
            width: 100%;
            bottom: 0;
            left: 0;
            margin: 0;
            border-radius: 0%;
            outline: 4px dashed #fff;
            outline-offset: -15px;

            &:after {
                display: none;
            }
        }

        & .headerButton {
            margin-top: 2rem;
        }

        & .startIcon {
            bottom: 0;
        }
    }
}

@media (max-width: 721px) {
    header {
        & h1 {
            font-size: 2.5rem;
            line-height: 55px;
        }

         & .milhouseHeader {
            height: 21rem;
        }
    }
}

@media (max-width: 635px) {
    header {
        & h1 {
            // font-size: 2.4rem;
            line-height: 50px;
        }
    }
}


@media (max-width: 592px) {    
    .footer {
        font-size: 0.7rem;

        & .wrapper {
            width: 100%;
        }
    }
}

// MOBILE BREAKPOINTS

@media (max-width: 550px) {
   header {
        &  h1 {
            font-size: 4rem;
            padding: 0;
            line-height: 72px;
            @include textTransform;
        }

        & .headerContainer {
            align-items: center;
            height: 100vh;
            // margin-bottom: 1rem;
        }

        & .swirlInFwd {
            @include swirlInFwd;
        }

        & .milhouseHeader {
            display: none;
        }

        & .circle {
            height: 440px;
            width: 440px;
            bottom: 3rem;
            outline: none;
            @include circleInner;
            // @include center;

            &:after {
                display: inline-block;
                height: 470px;
                width: 470px;
                @include circleOuter;
                top: -1rem;
            }
        }
    }
    
    .button {
        grid-template-columns: repeat(2, 150px);
        grid-column-gap: 35px;
    }

    @-webkit-keyframes slideInDown {
        0% {
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
    }

    @keyframes slideInDown {
        0% {
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }
    }
}

@media (max-width: 520px) {
    header {
        h1 {
            font-size: 3.7rem;
            line-height: 68px;
        }

        & .circle {
            height: 410px;
            width: 410px;

            &:after {  
                height: 440px;
                width: 440px;
            }
        }
    }
}

@media (max-width: 490px) {
    header {
        h1 {
            font-size: 3.5rem;
            line-height: 67px;
        }

        & .circle {
            height: 390px;
            width: 390px;

            &:after {  
                height: 420px;
                width: 420px;
            }
        }
    }
}

@media (max-width: 460px) {
    header {
        h1 {
            font-size: 3.3rem;
            line-height: 65px;
        }

        & .circle {
            height: 370px;
            width: 370px;

            &:after {  
                height: 395px;
                width: 395px;
            }
        }
    }
}

@media (max-width: 436px) {
    header {
        h1 {
            font-size: 3rem;
            line-height: 60px;
        }

        .circle {
            height: 350px;
            width: 350px;

            &:after {  
                height: 375px;
                width: 375px;
            }
        }
    }
}   

@media (max-width: 410px) {
    header {
        & h1 {
            font-size: 2.8rem;
            line-height: 55px;
        }

        & .circle {
            height: 320px;
            width: 320px;

            &:after {  
                height: 345px;
                width: 345px;
            }
        }
    }
}

@media (max-width: 400px) {
    .footer {
        font-size: 0.6rem;
    }
}

@media (max-width: 375px) {
    header {
        h1 {
            font-size: 2.6rem;
            line-height: 52px;
        }

        .circle {
            height: 300px;
            width: 300px;

            &:after {  
                height: 325px;
                width: 325px;
            }
        }
    }
}

@media (max-width: 369px) {
    .button {
        grid-column-gap: 0;

        & .buttonSide {
            & img {
                height: 135px;
            }
        }
    }

    .bubble {
        width: 135px;
    }
}

@media (max-width: 360px) {
    header {
        & h1 {
        font-size: 2.3rem;
        line-height: 45px;
    }

        & .circle {
            height: 270px;
            width: 270px;

            &:after {  
                height: 295px;
                width: 295px;
            }
        }
    }
}
