// TABLET BREAKPOINTS

@media (max-width: 1024px) {
    h1 {
        font-size: 2.3rem;
        margin: 3.5rem 0 2rem 0;
    }

    .button {
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-row-gap: 11rem;
        grid-column-gap: 15px;

        &__item {

            &:hover .button__side--front {
                transform: none;
            }

            &:hover .button__side--back {
                transform: none;
            }
        }

        &__side {
            position: static;

            &--back {
                display: none;
            }

            & img {
                height: 140px;
            }
        }

        &__responsive-text {
            @include center;
            text-align: center;
            color: $color-grey-1;
            font-size: 0.9rem;
            text-shadow: 1px 1px 0 $color-white;          
        }

        & i {
            top: 6.7rem;
            cursor: pointer;
        }

        & .icon-1,
          .icon-2,
          .icon-3,
          .icon-4,
          .icon-5,
          .icon-6,
          .icon-7,
          .icon-8,
          .icon-9,
          .icon-10,
          .icon-11,
          .icon-12,
          .icon-13,
          .icon-14,
          .icon-15,
          .icon-16 {
            color: $color-blue-green-1;
            font-size: 1rem;
        }
    }

    // speech bubble code from https://www.html-code-generator.com/css/speech-bubble-generator.php
    .bubble {
        position: relative;
        margin: 0 auto;
        background: $color-white-transparent;
        width: 150px;
        height: 160px;
        border-radius: 15px;
        padding: 0 0.6rem;
        margin-top: 1rem;
        @include center;

        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            z-index: 1;
            border-style: solid;
            border-width: 20px 0 0 20px;
            border-color: transparent transparent transparent $color-white-transparent;
            top: -20px;
            left: 70%;
            margin-left: -10px;
        }
    }

    .footer {
        margin-top: 12rem;
    }
}

@media (max-width: 780px) {
    .button {
        grid-template-columns: repeat(3, 150px);

        &__side {
            & img {
                height: 150px;
            }
        }
    }
}

@media (max-width: 592px) {
    .footer {
        font-size: 0.7rem;

        & .wrapper {
            width: 100%;
        }
    }
}

// MOBILE BREAKPOINTS

@media (max-width: 550px) {
   header {
        background: none;
    }

     h1 {
        font-size: 4rem;
        margin-top: 2rem;
        -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
        line-height: 72px;
    }

    .circle {
        margin: 5rem auto 2rem;
        height: 400px;
        width: 400px;
        border-radius: 100%;
        border: 2px solid transparent;   
        background: #ffffff73;
        @include center;

        &:after {
            content: "";
            background: none;
            border: 3px dashed rgba(255, 255, 255, 0.9);   
            height: 425px;
            width: 425px;
            border-radius: 100%;
            position: absolute;
            z-index: -1;
        }
}
    
    .button {
        grid-template-columns: repeat(2, 150px);
        grid-column-gap: 35px;
    }
}

@media (max-width: 470px) {
    h1 {
        font-size: 3.7rem;
        line-height: 68px;
    }

     .circle {
        height: 370px;
        width: 370px;

         &:after {  
            height: 395px;
            width: 395px;
        }
    }
}

@media (max-width: 435px) {
    h1 {
        font-size: 3.5rem;
        line-height: 65px;
    }

     .circle {
        height: 350px;
        width: 350px;

         &:after {  
            height: 375px;
            width: 375px;
        }
    }
}

@media (max-width: 415px) {
    h1 {
        font-size: 3.2rem;
        line-height: 62px;
    }

     .circle {
        height: 320px;
        width: 320px;

         &:after {  
            height: 345px;
            width: 345px;
        }
    }
}


@media (max-width: 400px) {
    .footer {
        font-size: 0.6rem;
    }
}

@media (max-width: 380px) {
    h1 {
        font-size: 3rem;
    }

     .circle {
        height: 300px;
        width: 300px;

         &:after {  
            height: 325px;
            width: 325px;
        }
    }
}

@media (max-width: 369px) {
    h1 {
        font-size: 2.8rem;
        line-height: 57px;
    }

     .circle {
        height: 280px;
        width: 280px;

         &:after {  
            height: 305px;
            width: 305px;
        }
    }

    .button {
        grid-column-gap: 0;

        &__side {
            & img {
                height: 135px;
            }
        }
    }

    .bubble {
        width: 135px;
    }
}

@media (max-width: 340px) {
    h1 {
        font-size: 2.55rem;
        line-height: 53px;
    }

     .circle {
        height: 260px;
        width: 260px;

         &:after {  
            height: 285px;
            width: 285px;
        }
    }
}