//allows users with sensitivity to motion to stop CSS animations/transitions
@media (prefers-reduced-motion: reduce) {

    //disable animations for all elements that contain one
    h1,
    .swal2-show,
    .swirlInFwd,
    .slideInLeft,
    .slideInDown,
    .bounceInFwd {
        @include noAnimation
    }

    //disable transition affect on buttons
    .button {
        & .buttonSide {
            transition: none;
        }

        & i {
            transition: none;
        }
    }
}

//LARGE DEVICES (greater than 1200px)

@media (min-width: 1650px) {
    header {
        & h1 {
            font-size: 5.35rem;
            line-height: 91px;
        }

        & .milhouseHeader {
            height: 37rem;
        }
        
        & .circle {
            height: 530px;
            width: 530px;
            bottom: 5.5rem;
            left: -5.75rem;

            &:after {
                height: 565px;
                width: 565px;
            }
        }
    }
}

//MEDIUM DEVICES (greater than 992px)

@media (max-width: 1110px) {
    header {
        & .milhouseHeader {
            position: relative;
            left: 1rem;
        }

        & .circle {
            left: -3.75rem;
            bottom: 3.5rem;
        }
    }
}

@media (max-width: 1070px) {
    header {
        & h1 {
            font-size: 4.35rem;
            line-height: 73px;
            margin: 1rem 0;
        }

        & .milhouseHeader {
            height: 28rem;
        }

        & .circle {
            height: 430px;
            width: 430px;
            left: -3rem;
            bottom: 3rem;


            &:after {
                height: 465px;
                width: 465px;
            }
        }
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 2.3rem;
        margin: 3.5rem 0 2rem 0;
    }

    main {
        padding-bottom: 9rem;
    }      

    a[href*="wikipedia"] {
        @include blueBorderBottom;
    }

    .button {
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-row-gap: 11rem;
        grid-column-gap: 15px;

        & .buttonItem {

            &:hover .buttonSideFront {
                transform: none;
            }

            &:hover .buttonSideBack {
                transform: none;
            }
        }

        & .buttonSide {
            position: static;

            //hide .buttonSideBack for devices that do not have the ability to hover over with a mouse (i.e. tablet/mobile devices)
            &Back {
                display: none;
            }

            & img {
                height: 140px;
                margin-bottom: 1.2rem;
            }
        }

        //show responsive elements for devices that do not have the ability to hover over with a mouse (i.e. tablet/mobile devices)
        & .buttonResponsive,
        & .buttonResponsive p, 
        & .buttonResponsive span {
            display: inline-block;
        }

        & .buttonResponsive {
             @include center;
        }

        & .buttonResponsiveText {
            color: $colorBlueGreen3;
            font-size: 0.9rem;
            line-height: 1.2;
            text-align: center;
            text-shadow: 1px 1px 0 $colorWhite;          
        }

        & i {
            top: 6.7rem;
            cursor: pointer;
        }

        & .icon1,
          .icon2,
          .icon3,
          .icon4,
          .icon5,
          .icon6,
          .icon7,
          .icon8,
          .icon9,
          .icon10,
          .icon11,
          .icon12,
          .icon13,
          .icon14,
          .icon15,
          .icon16 {
            color: $colorBlueGreen1;
            font-size: 1rem;
        }
    }

    // speech bubble code from https://www.html-code-generator.com/css/speech-bubble-generator.php
    .bubble {
        position: relative;
        background: $colorWhiteTransparent1;
        width: 150px;
        height: 160px;
        border-radius: 15px;
        padding: 0 0.6rem;
        margin: 0.9rem auto 0;

        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            z-index: 1;
            border-style: solid;
            border-width: 20px 0 0 20px;
            border-color: transparent transparent transparent $colorWhiteTransparent1;
            top: -20px;
            left: 70%;
            margin-left: -10px;
        }
    }
}

//SMALL (TABLET) DEVICES (greater than 768px)

@media (max-width: 943px) {
    header {
        & h1 {
            font-size: 3.8rem;
            line-height: 68px;
        }

        & .headerContainer {
            left: 0;
        }

        & .milhouseHeader {
            height: 24rem;
            position: relative;
            left: 1rem;
        }

        & .circle {
            height: 380px;
            width: 380px;
            left: -2.5rem;
            bottom: 1.5rem;

            &:after {
                height: 410px;
                width: 410px;
            }
        }
    }
}

@media (max-width: 850px) {
    header {
        & h1 {
            font-size: 3.5rem;
            line-height: 63px;
        }

        & .milhouseHeader {
            height: 23rem;
        }

        & .circle {
            height: 350px;
            width: 350px;

            &:after {
                height: 375px;
                width: 375px;
                top: -0.9rem;
            }
        }
    }
}

@media (max-width: 780px) {
    h2 {
        padding: 1rem 2rem;
    }

    .button {
        grid-template-columns: repeat(3, 150px);

        & .buttonSide {
            & img {
                height: 150px;
            }
        }
    }
}

@media (max-width: 770px) {
      header {

        & h1 {
            font-size: 3rem;
            text-shadow: 4px 3px 0px $colorGrey1, 6px 5px 0px $colorBlueGreenTransparent2;
            line-height: 60px;
            transform: none;
            padding: 0 2rem; 
            @include bounceInFwd; 
        }

        & .wrapper {
            width: 90%;
        }

        & .headerContainer {
            left: 0;
            flex-direction: column;
            align-items: center;
        }

         & .milhouseHeader {
            height: 22rem;
            margin: 0 auto;
            left: 0rem;
        }

        & .headingIconContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & .swirlInFwd {
            @include noAnimation;
        }

        & .circle {
            height: 200px;
            width: 100%;
            bottom: 0;
            left: 0;
            margin: 0;
            border-radius: 0%;
            outline: 2px dashed #fff;
            outline-offset: -15px;
            @include fadeInFwd;

            //disables style for outer circle
            &:after {
                display: none;
            }
        }

        & .headerButton {
            // margin-top: 2rem;
            display: none;
        }

        & .startIcon {
            bottom: 0;
        }
    }
}

//SMALLEST (MOBILE) DEVICES (smaller than or equal to 768px)

@media (max-width: 639px) {
    header {
        & h1 {
            font-size: 2.7rem;
            line-height: 55px;
        }
    }

    h2 {
        font-size: 2.5rem;
    }
}

@media (max-width: 584px) {
    header {
        & h1 {
            font-size: 2.6rem;
        }
    }
}

@media (max-width: 592px) {    
    .footer {
        font-size: 0.7rem;

        & .wrapper {
            width: 100%;
        }
    }
}

@media (max-width: 565px) {
    header {
        & h1 {
            font-size: 2.5rem;
            line-height: 50px;
        }

        & .circle {
            height: 180px;
        }
    }
}

@media (max-width: 550px) {
    .button {
        grid-template-columns: repeat(2, 150px);
        grid-column-gap: 35px;
    }
}

@media (max-width: 546px) {    
    header {
        & h1 {
            font-size: 2.4rem;
            line-height: 48px;
        }
    }
}

@media (max-width: 528px) {    
    header {
        & h1 {
            font-size: 2.3rem;
        }
    }
}

@media (max-width: 509px) {    
    header {
        & h1 {
            font-size: 2.2rem;
            line-height: 46px;
        }
    }
}

@media (max-width: 500px) {    
    .swal2-popup {
        padding: 0.7rem !important;
        width: 20rem !important;
    }
}


@media (max-width: 491px) {    
    header {
        & h1 {
            font-size: 2.1rem;
        }
    }
}

@media (max-width: 472px) {    
    header {
        & h1 {
            font-size: 2rem;
        }
    }

    h2 {
        font-size: 2rem;
    }
}

@media (max-width: 454px) {
    header {
        & h1 {
            font-size: 1.9rem;
            line-height: 42px;
        }

        & .milhouseHeader {
            height: 20rem;
        }
    }
}

@media (max-width: 400px) {
    header {
        & .milhouseHeader {
            height: 19rem;
        }
    }

    .footer {
        font-size: 0.6rem;
    }
}

@media (max-width: 384px) {
     header {
        & h1 {
            font-size: 1.8rem;
            line-height: 40px;
        }
    }
}

@media (max-width: 372px) {
  header {
        & .milhouseHeader {
            height: 18rem;
        }
    }  
}

@media (max-width: 368px) {
     header {
        & h1 {
            font-size: 1.7rem;
            line-height: 38px;
        }
    }
}

@media (max-width: 353px) {
     header {
        & h1 {
            font-size: 1.6rem;
        }
    }
}

@media (max-width: 345px) {
  header {
        & h1 {
            line-height: 37px;
        }

        & .milhouseHeader {
            height: 17rem;
        }
    }  
}

@media (max-width: 337px) {
    header {
        & h1 {
            font-size: 1.5rem;
            line-height: 35px;
        }

        & .milhouseHeader {
            height: 16rem;
        }
    }

    h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 321px) {
     header {
        & h1 {
            font-size: 1.4rem;
        }
    }
}

@media (max-width: 369px) {
    .button {
        grid-column-gap: 0;

        & .buttonSide {
            & img {
                height: 135px;
            }
        }
    }

    .bubble {
        width: 135px;
    }
}