//Overriding the default styles for SweetAlert2
//Class names are pre-named by SweetAlert2 and cannot be changed

.swal2-html-container {
  font-size: 1rem;
}

.swal2-popup {
  padding: 2rem !important;
  width: 25rem !important;
}

.swal2-icon {
  font-size: 0.6rem;
}

.swal2-styled {
  background-color: $colorBlue1 !important;
  padding: 0.55rem 3rem !important;
}