.button {
    display: grid;
    grid-template-columns: repeat(4, 180px);
    grid-template-rows: repeat(4, 155px);
    grid-row-gap: 25px;
    justify-items: center;
    justify-content: center;
    list-style: none;
    padding: 2.5rem 0;

    & .buttonItem {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 155px;
    width: 100%;

        //puts .buttonSideFront behind .buttonSideBack on hover
        &:hover .buttonSideFront {
            transform: rotateY(180deg);
        }

        //puts .buttonSideBack in front of .buttonSideFront on hover
        &:hover .buttonSideBack {
            transform: rotateY(0);
        }
    }

    & .buttonSide {
        height: 100%;
        width: 100%;
        transition: transform .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        border: none;
        background: none;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        cursor: pointer;
        @include center;
        
        &Back {
            //hides .buttonSideBack behind .buttonSideFront by default
            transform: rotateY(180deg);
        }
    }

    & .buttonText {
        width: 125px;
        position: absolute;
        margin: auto; 
        text-align: center;
        font-size: 0.85rem;
        text-shadow: 1px 1px 2px $colorWhite;
    }

    & i {
        position: absolute;
        top: 6rem;
        font-size: 1.25rem;
        transition: all 0.4s;

        &:hover {
            opacity: 0.5;
            transform: scale(1.1);
        }
    }

    //individual colors for each information icon
    & .icon1 {
        color: #cc334e;
    }

    & .icon2 {
        color: #ad3685;
    }

    & .icon3 {
        color: #d15932;
    }

    & .icon4 {
        color: #3d5131;
    }

    & .icon5 {
        color: #d2598d;
    }

    & .icon6 {
        color: #735a85;
    }

    & .icon7 {
        color: #cf3223;
    }

    & .icon8 {
        color: #2e1775;
    }

    & .icon9 {
        color: #245765;
    }

    & .icon10 {
        color: #62060e;
    }

    & .icon11 {
        color: #0b5b81;
    }

    & .icon12 {
        color: #cf3877;
    }

    & .icon13 {
        color: #cd475c;
    }

    & .icon14 {
        color: #723a89;
    }

    & .icon15 {
        color: #d14540;
    }

    & .icon16 {
        color: #c45b57;
    }

    //hide responsive elements for devices with the ability to hover over with a mouse (i.e. deskptop/laptop devices)
    & .buttonResponsive,
    & .buttonResponsive p, 
    & .buttonResponsive span {
        display: none;
    }
}