// TABLET BREAKPOINTS

@media (max-width: 1024px) {
    h1 {
        font-size: 2.3rem;
        margin: 3.5rem 0 2rem 0;
    }

    .button {
        grid-template-columns: repeat(4, 150px);
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-row-gap: 11rem;
        grid-column-gap: 15px;

        &__item {

            &:hover .button__side--front {
                transform: none;
            }

            &:hover .button__side--back {
                transform: none;
            }
        }

        &__side {
            position: static;

            &--back {
                display: none;
            }

            & img {
                height: 140px;
            }
        }

        &__responsive-text {
            @include center;
            text-align: center;
            color: #677f7d;
            font-size: 0.9rem;
            text-shadow: 1px 1px 0 $color-white;          
        }

        & i {
            top: 6.7rem;
        }

        & .icon-1,
          .icon-2,
          .icon-3,
          .icon-4,
          .icon-5,
          .icon-6,
          .icon-7,
          .icon-8,
          .icon-9,
          .icon-10,
          .icon-11,
          .icon-12,
          .icon-13,
          .icon-14,
          .icon-15,
          .icon-16 {
            color: #ABDDD7;
            font-size: 1rem;
        }
    }

    .bubble {
        position: relative;
        margin: 0 auto;
        background: $color-white-transparent;
        width: 150px;
        height: 160px;
        border-radius: 15px;
        padding: 0 0.6rem;
        margin-top: 1rem;
        @include center;

        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            z-index: 1;
            border-style: solid;
            border-width: 20px 0 0 20px;
            border-color: transparent transparent transparent $color-white-transparent;
            top: -20px;
            left: 70%;
            margin-left: -10px;
        }
    }

    .footer {
        margin-top: 12rem;
    }
}

@media (max-width: 780px) {
    .button {
        grid-template-columns: repeat(3, 150px);

        &__side {
            & img {
                height: 150px;
            }
        }
    }
}

// MOBILE BREAKPOINTS

@media (max-width: 550px) {
    header .wrapper {
        width: 85%;
    }

     h1 {
        font-size: 2.4rem;
    }
    
    .button {
        grid-template-columns: repeat(2, 150px);
        grid-column-gap: 35px;
    }
}

@media (max-width: 482px) {
     h1 {
        font-size: 2rem;
    }
}

@media (max-width: 369px) {
    .button {
        grid-column-gap: 0;

        &__side {
            & img {
                height: 135px;
            }
        }
    }

    .bubble {
        width: 135px;
    }
}