.button {
    display: flex;
    flex-wrap: wrap;

    &__item {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 171px;
    width: 171px;

        &:hover .button__side--front {
            transform: rotateY(180deg);
        }

        &:hover .button__side--back {
            transform: rotateY(0);
        }
    }

    &__side {
        height: 171px;
        width: 171px;
        transition: transform .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        border: 0;
        background: none;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;   
        
        &--back {
            transform: rotateY(180deg);
        }
    }

    &__text {
        text-align: center;
        position: absolute;
        margin: auto; 
    }
}