.button {
    &__list {
        list-style: none;
        padding: 0;
    }

    &__item {
        perspective: 150rem;
        -moz-perspective: 150rem;
        position: relative;
    }

    &__side img {
        transition: transform .8s;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;

        &--back img {
            transform: rotateY(180deg);
        }
    }

    &__side--front img {
        &:hover {
            transform: rotateY(180deg);
        }
    }

    &__side--back img {
        &:hover {
            transform: rotateY(180deg);
        }
    }
}