.button {
    &__list {
        list-style: none;
        padding: 0;
        perspective: 150rem;
        -moz-perspective: 150rem;
    }

    &__item {
        display: flex;
        background: url('../img/milhouse-1-small.png') no-repeat;
        transition: transform 1s, background-image .5s;
        height: 170px;
        width: 170px;

        &:hover {
            transform: rotateY(180deg);
            background: url('../img/milhouse-1-small-back.png') no-repeat;
            cursor: pointer;
        }
    }

    &__text {
        margin: auto;
    }
}