@font-face {
   font-family: Simpsons;
   src: url(../img/SIMPSONS.ttf);
}

html {
  font-size: 125%; 
}

body {
    font-family: 'Lato', sans-serif;
    background-image: url('../img/lisa-bg.png');
}

h1 {
    font-family: 'Bubblegum Sans', cursive;
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0;
    padding: 0.5rem 0 1rem 0;
    color: rgb(240, 240, 240);
    white-space: pre-line;
    // text-shadow: 3px 3px 0 $color-white;
    text-shadow: 4px 3px 0px #9C9C9C, 9px 5px 0px rgba(12, 126, 112, 0.5);
    // text-shadow: 4px 3px 0px #9C9C9C, 9px 5px 0px rgba(10,191,188,0.49);
    opacity: 0.9;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $color-dark;
}

a {
  text-decoration: none;
  color: $color-grey-2;

  &:hover {
    border-bottom: 2px solid $color-blue-2;
    padding-bottom: 1px;
    opacity: 0.5;
  }

  &:visited {
    color: $color-grey-2;
    opacity: 0.5;
  }
}
