@font-face {
   font-family: Simpsons;
   src: url("../assets/fonts/SIMPSONS.ttf");
}

html {
  font-size: 125%; 
}

body {
    font-family: $font-secondary;
    background-image: url("../assets/images/lisaBackground.png");
}

h1 {
    font-family: $font-primary;
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0;
    padding: 0.5rem 0 1rem 0;
    color: $colorWhite;
    white-space: pre-line;
    text-shadow: 4px 3px 0px $colorGrey1, 9px 5px 0px $colorBlueGreenTransparent2;
    opacity: 0.9;
    -webkit-text-fill-color: $colorWhite;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $colorDark;
}

a {
  text-decoration: none;
  color: $colorGrey2;

  &:hover {
    border-bottom: 2px solid $colorBlue2;
    padding-bottom: 1px;
    opacity: 0.5;
  }

  &:visited {
    color: $colorGrey2;
    opacity: 0.5;
  }
}
