html {
  font-size: 125%; 
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #ABDDD7;

h1 {
    font-family: 'Schoolbell', cursive;
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 2px 2px #fff;
    margin: 2rem 0;
}