html {
  font-size: 125%; 
}

body {
    font-family: 'Lato', sans-serif;
    // background-color: #ABDDD7;
    background-image: url('../img/lisa-bg.png');
}

h1 {
    font-family: 'Chewy', cursive;
    text-align: center;
    font-size: 3rem;
    color: #2E2E2E;
    text-shadow: 3px 3px 3px #fff;
    margin: 2rem 0;
}

a {
  text-decoration: none;
  color: #595959;

  &:hover {
    border-bottom: 2px solid #40c3ee;
    padding-bottom: 1px;
    opacity: 0.5;
  }

  &:visited {
    color: #595959;
    opacity: 0.5;
  }
}
