.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 70%;
}

.no-focus-outline a:focus,
.no-focus-outline button:focus {
  outline: none;
}

.padding {
  padding-top: 1rem;
}

.swal2-icon {
  font-size: 0.5rem;
}