.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 85%;
}

.noFocusOutline a:focus,
.noFocusOutline [role="button"]:focus,
.noFocusOutline button:focus {
  outline: none;
}

.padding {
  padding-top: 1rem;
}

.filter {
  filter: grayscale(62%);
}