@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin horizontal-line-sm {
  width: 20rem;
  border-bottom: 3px solid rgba(255, 255, 255, 0.4);
  margin-top: 0.5rem;
}