$colorDark: #2E2E2E;

$colorWhiteTransparent: #ffffff80;
$colorWhite: #fff;

$colorGrey1: #677f7d;
$colorGrey2: #595959;

$colorBlue1: #7cd1f9;
$colorBlue2: #40c3ee;

$colorBlueGreenTransparent: #6cc0b680;
$colorBlueGreen1: #ABDDD7;
$colorBlueGreen2: #28af9f;