$color-dark: #2E2E2E;
$color-white: #fff;

$color-grey-1: #677f7d;
$color-grey-2: #595959;
$color-grey-3: #454b4a;

$color-blue-1: #7cd1f9;
$color-blue-2: #40c3ee;

$color-blue-green-transparent: #6cc0b680;
$color-blue-green: #28af9f;