//Colors
$colorDark: #2E2E2E;

$colorWhiteTransparent1: #ffffff80;
$colorWhiteTransparent2: #ffffff73;
$colorWhiteTransparent3: #ffffffe6;
$colorWhite: #F6F6F6;

$colorGrey1: #9C9C9C;
$colorGrey2: #595959;

$colorBlue1: #7cd1f9;
$colorBlue2: #40c3ee;

$colorBlueGreenTransparent1: #6cc0b680;
$colorBlueGreenTransparent2: #0c7e7080;
$colorBlueGreen1: #ABDDD7;
$colorBlueGreen2: #28af9f;
$colorBlueGreen3: #677f7d;

//Fonts
$font-primary: "Bubblegum Sans", cursive;
$font-secondary: "Lato", sans-serif;