.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button__item {
  margin: 0.5rem;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 171px;
  width: 171px;
}

.button__item:hover .button__side--front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.button__item:hover .button__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.button__side {
  height: 171px;
  width: 171px;
  -webkit-transition: -webkit-transform .8s ease;
  transition: -webkit-transform .8s ease;
  transition: transform .8s ease;
  transition: transform .8s ease, -webkit-transform .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  background: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__side--back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.button__text {
  text-align: center;
  position: absolute;
  margin: auto;
}

body {
  background-image: url("../img/dignity-pattern.jpg");
}

html {
  font-size: 125%;
}

h1 {
  font-family: 'Schoolbell', cursive;
  text-align: center;
  font-size: 3rem;
  text-shadow: 2px 2px 2px #fff;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 70%;
}
