.button__list {
  list-style: none;
  padding: 0;
}

.button__item {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
}

.button__side img {
  -webkit-transition: -webkit-transform .8s;
  transition: -webkit-transform .8s;
  transition: transform .8s;
  transition: transform .8s, -webkit-transform .8s;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.button__side img--back img {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.button__side--front img:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.button__side--back img:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

body {
  background-color: #ABDDD7;
}

h1 {
  font-family: 'Schoolbell', cursive;
  text-align: center;
  font-size: 4rem;
  text-shadow: 2px 2px 2px #fff;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}
